# MCO1 - Labor Force Survey 2016

## Section 1. Introduction to the problem/task and dataset

## Section 2. Description of the dataset

[brief description of the dataset]

[Provide a description of the collection process executed to build the dataset. Discuss the implications of the data collection method on the generated conclusions and insights]

In [38]:
import pandas as pd

df = pd.read_csv("PHL-PSA-LFS-2016-Q2-PUF/LFS PUF April 2016.CSV")

display(df.head())
display(df.info())

,PUFREG,PUFPRV,PUFPRRCD,PUFHHNUM,PUFURB2K10,PUFPWGTFIN,PUFSVYMO,PUFSVYYR,PUFPSU,PUFRPL,...,PUFC33_WEEKS,PUFC34_WYNOT,PUFC35_LTLOOKW,PUFC36_AVAIL,PUFC37_WILLING,PUFC38_PREVJOB,PUFC40_POCC,PUFC41_WQTR,PUFC43_QKB,PUFNEWEMPSTAT
0,1,28,2800,1,2,405.2219,4,2016,217,1,...,,,,,,,,1,01,1
1,1,28,2800,1,2,388.8280,4,2016,217,1,...,,,,,,,,1,01,1
2,1,28,2800,1,2,406.1194,4,2016,217,1,...,,,,,,,,1,01,1
3,1,28,2800,2,2,405.2219,4,2016,217,1,...,,,,,,,,1,01,1
4,1,28,2800,2,2,384.3556,4,2016,217,1,...,,,,,,,,1,96,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180862 entries, 0 to 180861
Data columns (total 50 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PUFREG           180862 non-null  int64
 1   PUFPRV           180862 non-null  int64
 2   PUFPRRCD         180862 non-null  int64
 3   PUFHHNUM         180862 non-null  int64
 4   PUFURB2K10       180862 non-null  int64
 5   PUFPWGTFIN       180862 non-null  float64
 6   PUFSVYMO         180862 non-null  int64
 7   PUFSVYYR         180862 non-null  int64
 8   PUFPSU           180862 non-null  int64
 9   PUFRPL           180862 non-null  int64
 10  PUFHHSIZE        180862 non-null  int64
 11  PUFC01_LNO       180862 non-null  int64
 12  PUFC03_REL       180862 non-null  int64
 13  PUFC04_SEX       180862 non-null  int64
 14  PUFC05_AGE       180862 non-null  int64
 15  PUFC06_MSTAT     180862 non-null  object
 16  PUFC07_GRADE     180862 non-null  object
 17  PUFC08_CURSCH    180862 non-null  object
 18  PUFC09_GRADTECH  180862 non-null  object
 19  PUFC10_CONWR     180862 non-null  object
 20  PUFC11_WORK      180862 non-null  object
 21  PUFC12_JOB       180862 non-null  object
 22  PUFC14_PROCC     180862 non-null  object
 23  PUFC16_PKB       180862 non-null  object
 24  PUFC17_NATEM     180862 non-null  object
 25  PUFC18_PNWHRS    180862 non-null  object
 26  PUFC19_PHOURS    180862 non-null  object
 27  PUFC20_PWMORE    180862 non-null  object
 28  PUFC21_PLADDW    180862 non-null  object
 29  PUFC22_PFWRK     180862 non-null  object
 30  PUFC23_PCLASS    180862 non-null  object
 31  PUFC24_PBASIS    180862 non-null  object
 32  PUFC25_PBASIC    180862 non-null  object
 33  PUFC26_OJOB      180862 non-null  object
 34  PUFC27_NJOBS     180862 non-null  object
 35  PUFC28_THOURS    180862 non-null  object
 36  PUFC29_WWM48H    180862 non-null  object
 37  PUFC30_LOOKW     180862 non-null  object
 38  PUFC31_FLWRK     180862 non-null  object
 39  PUFC32_JOBSM     180862 non-null  object
 40  PUFC33_WEEKS     180862 non-null  object
 41  PUFC34_WYNOT     180862 non-null  object
 42  PUFC35_LTLOOKW   180862 non-null  object
 43  PUFC36_AVAIL     180862 non-null  object
 44  PUFC37_WILLING   180862 non-null  object
 45  PUFC38_PREVJOB   180862 non-null  object
 46  PUFC40_POCC      180862 non-null  object
 47  PUFC41_WQTR      180862 non-null  object
 48  PUFC43_QKB       180862 non-null  object
 49  PUFNEWEMPSTAT    180862 non-null  object
dtypes: float64(1), int64(14), object(35)
memory usage: 69.0+ MB

None

â€¢ Describe the structure of the dataset file.

o What does each row and column represent?

o How many instances are there in the dataset?

o How many features are there in the dataset?

o If the dataset is composed of different files that you will combine in the succeeding
steps, describe the structure and the contents of each file.

[Discuss the features in each dataset file. What does each feature represent? All features,
even those which are not used for the study, should be described to the reader. The
purpose of each feature in the dataset should be clear to the reader of the notebook
without having to go through an external link]

## Section 3. List of requirements

## Section 4. Data preprocessing and cleaning

We always start of by finding any null values in our dataset. Usually `.isnull()` would suffice in searching for such values although it's not the case for the labor force dataset. However, we were able to find empty entries by checking for any whitespaces which can be a common input in CSV files.

In [39]:
print((df == ' ').sum())

PUFREG                  0
PUFPRV                  0
PUFPRRCD                0
PUFHHNUM                0
PUFURB2K10              0
PUFPWGTFIN              0
PUFSVYMO                0
PUFSVYYR                0
PUFPSU                  0
PUFRPL                  0
PUFHHSIZE               0
PUFC01_LNO              0
PUFC03_REL              0
PUFC04_SEX              0
PUFC05_AGE              0
PUFC06_MSTAT        18339
PUFC07_GRADE            0
PUFC08_CURSCH      107137
PUFC09_GRADTECH     57782
PUFC10_CONWR        57782
PUFC11_WORK         21894
PUFC12_JOB          93306
PUFC14_PROCC            0
PUFC16_PKB              0
PUFC17_NATEM       109507
PUFC18_PNWHRS           0
PUFC19_PHOURS           0
PUFC20_PWMORE      109507
PUFC21_PLADDW      109507
PUFC22_PFWRK       109507
PUFC23_PCLASS      109507
PUFC24_PBASIS      138947
PUFC25_PBASIC           0
PUFC26_OJOB        109507
PUFC27_NJOBS       174924
PUFC28_THOURS           0
PUFC29_WWM48H      163629
PUFC30_LOOKW       132692
PUFC31_FLWRK       178569
PUFC32_JOBSM       178569
PUFC33_WEEKS            0
PUFC34_WYNOT       134985
PUFC35_LTLOOKW     179269
PUFC36_AVAIL       174893
PUFC37_WILLING     174893
PUFC38_PREVJOB     132692
PUFC40_POCC             0
PUFC41_WQTR         81627
PUFC43_QKB              0
PUFNEWEMPSTAT       61337
dtype: int64

Empty entries for `PUFC06_MSTAT` (marital status) will be defaulted to a value of 6 since the questionnaire associated 6 with "Unknown".

Empty entries for `PUFC08_CURSCH` (currently attending school) will be defaulted to a value of 2 since the questionnaire associated 2 with NO. We assume that those who are not currently attending school felt urged to skip the question which can imply a NO by omission.

Empty entries for `` () will be

In [42]:
df['PUFC06_MSTAT'].replace(r'^\s*$', 6, regex=True, inplace=True)
df['PUFC08_CURSCH'].replace(r'^\s*$', 2, regex=True, inplace=True)

print((df == ' ').sum())

C:\Users\Matthew Sanchez\AppData\Local\Temp\ipykernel_16840\1123744924.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PUFC06_MSTAT'].replace(r'^\s*$', 6, regex=True, inplace=True)
C:\Users\Matthew Sanchez\AppData\Local\Temp\ipykernel_16840\1123744924.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PUFC08_CURSCH'].replace(r'^\s*$', 2, regex=True, inplace=True)

PUFREG                  0
PUFPRV                  0
PUFPRRCD                0
PUFHHNUM                0
PUFURB2K10              0
PUFPWGTFIN              0
PUFSVYMO                0
PUFSVYYR                0
PUFPSU                  0
PUFRPL                  0
PUFHHSIZE               0
PUFC01_LNO              0
PUFC03_REL              0
PUFC04_SEX              0
PUFC05_AGE              0
PUFC06_MSTAT            0
PUFC07_GRADE            0
PUFC08_CURSCH           0
PUFC09_GRADTECH     57782
PUFC10_CONWR        57782
PUFC11_WORK         21894
PUFC12_JOB          93306
PUFC14_PROCC            0
PUFC16_PKB              0
PUFC17_NATEM       109507
PUFC18_PNWHRS           0
PUFC19_PHOURS           0
PUFC20_PWMORE      109507
PUFC21_PLADDW      109507
PUFC22_PFWRK       109507
PUFC23_PCLASS      109507
PUFC24_PBASIS      138947
PUFC25_PBASIC           0
PUFC26_OJOB        109507
PUFC27_NJOBS       174924
PUFC28_THOURS           0
PUFC29_WWM48H      163629
PUFC30_LOOKW       132692
PUFC31_FLWRK       178569
PUFC32_JOBSM       178569
PUFC33_WEEKS            0
PUFC34_WYNOT       134985
PUFC35_LTLOOKW     179269
PUFC36_AVAIL       174893
PUFC37_WILLING     174893
PUFC38_PREVJOB     132692
PUFC40_POCC             0
PUFC41_WQTR         81627
PUFC43_QKB              0
PUFNEWEMPSTAT       61337
dtype: int64

## Section 5. Exploratory data analysis

## Section 6. Initial model training

## Section 7. Error analysis

## Section 8. Improving model performance

## Section 9. Model performance summary

## Section 10. Insights and conclusions

## Section 11. References